body{
    width: 400px;
    margin: 0 auto;
    background-color: #303030;
}

header{
    position: relative;
    height:40px;
    background-color: black;
}

#title{
    position: absolute;
    margin: 0 auto;
    font-size: 30px;
    top: 0px;
    font-family: cursive;
    color: #ffffff;
}

#add{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 30px;
    border: none;
    background-color: green;
    color: white;
}

#add:hover{
    background-color: darkgreen;
    transition: transform 1s;
    transform: rotate(360deg);
}

.urls{
    font-size: 12px;
    width: 350px;
    text-decoration: none;
    color: black;
    height: auto;
    display:block;
}

.url-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

.url-item:hover{
    background-color: darkgray;
}

.delete-btn {
    position:active;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    background-color: crimson;
    color: white;
}
.delete-btn:hover {
    background-color: #a00020;
}
